
/* 

    You can write your own styles here...
    
    
    ...Or you can use the import command to include 
    other sylesheets into your bunde as well, e.j:
    
    import 'relative/path/to/stylesheet.scss';

*/

.cajaNegra{

height: 500px;
width: 200px;
background: black;
border: 1px solid white;

}

.luz{
    border-radius: 25%; 
    border: 1px solid white;
    height: 100px;
    width: 100px;

}